@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    background: #FFF;
}
   /* Common part start */
.container {
    max-width: 74rem;
    width: 80%;
    border-radius: 20px;
    margin: 6.4rem auto;
}

.text {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px;
}

.common-heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.common-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: 0;
}

.common-btn:hover {
    background-color: blueviolet;
    color: aqua;
}

.common-btn:visited {
    color: darkgray;
}
    /* Common part end */

    /* nav-bar  start*/
header {
    margin-top: 35px;
}

nav {
    max-width: 74rem;
    width: 80%;
    margin: 0 auto;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.navbar>ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar>img {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

nav span {
    color: #FF5400;
}
/* nav-bar  end*/

/* banner section start */
.banner {
    background-image: url('/Images/group13.png');
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.2rem;
}

.banner .banner-tittle {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.banner-discription {
    color: #FFF;
    padding: 0.3rem 15.7rem;
    text-align: center;
    margin: 1.5rem auto;
}

.banner .div2 {
    display: flex;
    padding: 1rem;
    gap: 1.6rem;
    border-radius: 0.5rem;
    background-color: hsla(193, 36%, 90%, 0.564);
    margin: 1.5rem auto;
}

.banner .div2 .info {
    width: 10.2rem;
    height: 3.25rem;
    border-radius: 8px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.banner .div2 .find {
    background: #FF5400;
    color: #FFF;
    width: 10.2rem;
    height: 3.25rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
}

.banner .div2 .find img {
    width: 1.5rem;
}
/* banner section end */

/* section-01 start*/
.section1 {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 6.5rem;
}

.section1 .content h3,
p,
ul {
    margin: 1.6rem auto;
}

.section1 .content ul li {
    margin: 1rem auto;
}

.section1 .content li span {
    font-weight: 700;
}
/* section-01 end*/


/*  section-02 start*/
.section2 {
    margin-top: 6.3rem;
}

.section2-content {
    text-align: center;
}

.section2-content p {
    padding: 0 16.5rem;
}

.section2 .section2-picture{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3.2rem;
}

.section2 .section2-picture .div1{
    display: flex;
    gap: 1.5rem;
}
.section2 .section2-picture .div2{
    display: flex;
    gap: 1.5rem;
}
.section2 .section2-picture .div3{
    display: flex;
    gap: 1.5rem;
}
/*  section-02 end*/


/* section-03 start*/
.section3 .content {
    text-align: center;
    padding: 0 16rem;
}

.section3 .info {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.section3 .info .div1 {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.section3 .info h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.section3 .info p {
    margin: 0;
}

.section3 .info .card {
    width: 35.8em;
    height: 17.8em;
    border-radius: 1rem;
    padding: 2rem 3.5rem 2rem 2rem;
}

.section3 .info .card-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.section3 .info .card-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.section3 .info .card-3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* section-03 end*/

/* section-06 start*/
.section6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    margin-top: 7rem;
}

.section6 .div1 {
    width: 29rem;
    height: 21.8rem;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1.2px solid #FF5400;
    padding: 2.5rem;
}

.section6 .div1 h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.section6 .div2 {
    position: relative;
}

.section6 .div1 p {
    padding-right: 5.25rem;
    margin: 0.8rem auto;
}

.section6 .div1 form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section6 .div1 form input {
    height: 3.2rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    padding-left: 20px;
}

.section6 .div1 form input[type=submit] {
    background-color: #FF5400;
    color: #FFF;
    font-family: Mulish;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: 0;
}
.section6 .div1 form input:hover[type=submit] {
    background-color: blueviolet;
    color: aqua;
}
.section6 .div1 hr {

    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 1.5rem auto;
    border: none;
}

.section6 .div2 .discount-banner {
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    color: #FFF;
    padding-top: 0.5rem;
    position: absolute;
    bottom: 3.5rem;
    right: 0.9rem;
    transform: rotate(-19.628deg);
}

.section6 .div2 .discount-banner a {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.section6 .div2 .discount-banner a:hover {
    color: darkblue;
}

.section6 .div2 .discount-banner p {
    margin-top: 0.6rem;
}
   /* section-06 end */


   /* Footer section start */
footer{
    background: rgba(19, 19, 24, 0.05);
    height: 31rem;
    display: flex;
    justify-content: center;
}

footer>.footer-container{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 74rem;
    margin: 0 auto;
}

footer .footer-title{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.footer-title h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;   
}

.footer-title span {
    color: #FF5400;
}

footer>.footer-container p{
    padding: 1rem 3.2rem;
    text-align: center;
}
footer>.footer-container .icons{
  
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
footer>.footer-container .icons img{
    width: 2rem;
}

footer>.footer-container hr {
    height: 1.1px;
    width: 85%;
    background:rgba(19, 19, 24, 0.10);;
    margin: 0 auto;
    border: none;
}
   /* Footer section end */




   /* Styles for mobile devices max-600px start*/

@media screen and (max-width: 600px) {

    /* common */
    .text {
        font-size: 0.9rem;
    }

    .common-heading {
        font-size: 1.8rem;
    }

    /* nav section */
    .navbar>ul {
        display: none;
    }

    .navbar>img {
        display: block;
    }

    /* banner section */
    .banner {
        background-position: center center;
    }

    .banner .banner-tittle {
        font-size: 1.6rem;
    }

    .banner-discription {
        padding: 0.3rem 1rem;
        margin: 0;
    }

    .banner .div2 {
        flex-direction: column;
        width: 20rem;
        align-items: center;
        gap: 1rem;
    }

    .banner .div2 .info {
        width: 17rem;
    }

    .banner .div2 .find {
        width: 17rem;
    }

    /* Section-01 */
    .section1 {
        flex-direction: column;
        gap: 2.5rem;
    }

    /* section-02 */
    .section2-content p{
        padding: 1rem 1.5rem;
    }

    .section2 .section2-picture{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 3.2rem;
    }
    .section2 .section2-picture img{
        height: 15.6rem;
    }
    .section2 .section2-picture .div1{
        flex-direction: column;
    }
    .section2 .section2-picture .div2{
        flex-direction: column;
    }
    .section2 .section2-picture .div3{
        flex-direction: column;
    }


    /* section-03 */
    .section3 .content {
        padding: 0 2rem;
    }

    .section3 .info .div1 {
        flex-direction: column;
        align-items: center;
    }

    .section3 .info .card {
        max-width: 24rem;
        width: 90%;
        border-radius: 16px;
        margin: 0 auto;
    }

    .section3 .info h3 {
        font-size: 1.25rem;
    }

    /*  section-06 */
    .section6 {
        flex-direction: column;
    }

    .section6 .div1 {
        width: 24rem;
    }

    .section6 .div2 {
        max-width: 30rem;
    }
    .section6 .div2 img{
        width: 100%;
        margin: 0 auto;
    }

    .section6 .div2 .discount-banner {
        width: 17rem;
        height: 5rem;
        font-weight: 700;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        bottom: 3rem;
        right: 0.8rem;
    }

}
    /* Styles for mobile devices max-600px  end */