@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 74rem;
    width: 80%;
    border-radius: 20px;
    margin: 3.2rem auto;
}

.text {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px;
}

.common-heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.common-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: 0;
}

.common-btn:hover{
    background-color: blueviolet;
    color:aqua;
}
.common-btn:visited{
    color:darkgray;
}

/* nav-bar */

header {
    margin-top: 35px;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.navbar>ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar>img {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.page-title h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

nav span {
    color: #FF5400;
}


/* banner section */

.banner {
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .banner .div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.banner .banner-tittle {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    display: flex;
    justify-content: center;


}

.banner-discription {
    color: #FFF;
    padding: 0.3rem 15.7rem;
    text-align: center;
    margin: 1.5rem auto;
}

.banner .div2 {
    display: flex;
    padding: 1rem;
    gap: 1.6rem;
    border-radius: 0.5rem;
    background-color: hsla(193, 36%, 90%, 0.564);
    margin: 1.5rem auto;
}

.banner .div2 .info {
    width: 10.2rem;
    height: 3.25rem;
    border-radius: 8px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.banner .div2 .find {
    background: #FF5400;
    color: #FFF;
    width: 10.2rem;
    height: 3.25rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
}

.banner .div2 .find img {
    width: 1.5rem;
}


        /* section-01 */

.section1 {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 6.5rem;
}

.section1 .content h3,
p,
ul {
    margin: 1.6rem auto;
}

.section1 .content ul li {
    margin: 1rem auto;
}
















@media screen and (max-width: 600px) {

    /* common */
    .text {
        font-size: 0.9rem;
    }

    .common-heading {
        font-size: 1.8rem;
    }

    /* nav section */
    .navbar>ul {
        display: none;
    }

    .navbar>img {
        display: block;
    }

    /* banner section */

    .banner {
        background-position: center center;
    }

    .banner .banner-tittle {
        font-size: 1.6rem;
    }

    .banner-discription {
        padding: 0.3rem 1rem;
        margin: 0;
    }

    .banner .div2 {
        flex-direction: column;
        width: 20rem;
        align-items: center;
        gap: 1rem;
    }

    .banner .div2 .info {
        width: 17rem;
    }

    .banner .div2 .find {
        width: 17rem;
    }

          /* Section-01 */

    .section1{
        flex-direction: column;
        gap: 2.5rem;
    }








}