@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 74rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}




/* nav-bar */

header{
    margin-top: 35px;
}
.page-title {
    display: flex;
    align-items: center;
}

.navbar>ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar>img {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.page-title h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

nav span {
    color: #FF5400;
}



















@media screen and (max-width: 600px) {
    .navbar>ul{
        display: none;
    }
    .navbar>img {
        display: block;
    }
}